/** BASE **/

.container {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	background-image: url('file:///Users/jadekristinmack/Desktop/JKM/img/hero.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

/** NAV **/

header nav {
	float: right
}

nav ul {
	display: inline;
}

nav li {
	word-spacing: 3em;
	list-style: none;
}

nav a {
	text-decoration: none;
	font-family: 'Josefin Slab', serif;
	color: #414347;
	font-size: 20px;
	text-transform: lowercase;
}

main {
	clear: both;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size: 140px;
	color: #414347;
	opacity: 0.5;
}

.initials {
	position: absolute;
	bottom: -110px;
	left: 40px;
}






