.container {
	width: 1200px;
	height: auto;
	margin: 0 auto;
	background-image: url('file:///Users/jadekristinmack/Desktop/JKM/img/hero.jpg');
	background-size: cover;
}

/***** 

header nav {
	float: right
}

header nav ul li {
	display: inline;
	text-transform: lowercase;
}

header nav ul li a {
	text-decoration: none;
	font-family: 'Sawarabi Gothic', sans-serif;
	color: #414347;
}
 *****/

/*main {
	clear: both;
}*/

h1 {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 140px;
	color: #414347;
}

.grid {
	display: block;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 'j k m';
}

.item-j {
	grid-area: j;
}

.item-k {
	grid-area: k;
}

.item-m {
	grid-area: m;
}



