.container {
	width: 1200px;
	margin: 0 auto;
}

/***** HEADER *****/

header nav {
	float: right
}

header nav ul li {
	display: inline;
	text-transform: lowercase;
}

header nav ul li a {
	text-decoration: none;
	font-family: 'Sawarabi Gothic', sans-serif;
}

/***** MAIN *****/

main {
	clear: both;
}

h1 {
	font-family: 'Nothing You Could Do', cursive;
	font-size: 40px;
}

h2 {
	font-family: 'Sawarabi Gothic', sans-serif;
}